#body{
	width: 100%;
	overflow: hidden;
	position: relative;
}
#bigPic{
	width:690px;
	height:240px;
	padding:0;
	background-color:#FFF;
	position: relative;
}
#bigPic img{
	position:absolute;
	display:none;
}
ul#thumbs{
	width: 690px;
	height: 56px;
	line-height:56px;
	vertical-align:middle;
	overflow: hidden;
	width: 150px;
	position: relative;
	float: right;
}
ul#thumbs li.active{
	opacity:1.00;	
}
ul#thumbs, ul#thumbs li{
	margin: 0;
	padding:0;
	list-style:none;
	color: #fff;
	font-weight: bold;
	z-index: 1000;
	
}

ul#thumbs li{
	float:left;
	margin: 1px 3px 2px 3px;
	padding:4px;
	cursor:pointer;
	opacity:0.5;
	background:url(/images/icon-video-slideshow.png) center center no-repeat;
	width: 22px;
	text-align: center;
}
ul#thumbs img{
	float:left;
	width:84px;
	height:55px;
	line-height:55px;
	overflow:hidden;
	position:relative;
	z-index:1;

}
#slide-overlay{
	background: #000000;
    height: 56px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 240px;
    width: 690px;
    z-index: 1;
}
#panel-overlay{
 	color: #FFFFFF;
    font-size: 1em;
    height: 56px;
    left: 0;
    position: absolute;
    top: 240px;
    width: 690px;
    z-index: 3;
}
#panel-overlay a{
	float: left;
}
#nav-action{
	position: absolute;
	z-index: 5;
	bottom: 0;
	width: 35px;
	height: 45px;
	right: 15px;
}
#nav-action img{
	display: block!important;
	top: 10px;
	cursor: pointer;
}
#nav-action img#nav-prev{
}
#nav-action img#nav-next{
	right: 0;
}
.slideshow_artist {
	color: #00a1e4;	
	clear: both;
	font-weight: normal;
	padding: 2px 0 0 15px;
	max-width: 540px;
	font-size: 14px;
}
.slideshow_title {
	color: #fff;
	font-weight: normal;
	padding: 7px 0 0 15px;
	font-size: 20px;
	max-width: 540px;
}