.icon-web{
    background-image: url("../images/web_design.jpg");
}
.icon-responsive{
    background-image: url("../images/responsive.jpg");
}
.icon-app-design {
    background-image: url("../images/mobile_app.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.show_more_icon{
    background-image: url("../images/show_more.png");
    background-position: center center;
    background-repeat: no-repeat;
}
#wen-corporate-welcome-3 > hr, #wen-corporate-service-3 hr {
    background-color: #eb741f;
    color: red;
    margin: 3px auto;
    width: 100px;
}
.service-block-list{
    margin-top: 25px;
}

.menu li {
    height: 45px;
    line-height: 35px;
}
.product_promotion{
    overflow: hidden;
    float: left;
}
.product_promotion > li:first-child {
    border-radius: 3px 0 0 3px;
}
.product_promotion > li:last-child {
    border-radius: 0 3px 3px 0;
}

.product_promotion > li {
    border: 1px solid #d8d8d8;
    color: #000;
    display: block;
    float: left;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 135px;
    cursor: pointer;
}
.product_promotion li.selected{
    background-color: #008BEF;
    border: 1px solid #008BEF;
    color: #FFF;
}
.styled-select {
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    height: 36px;
    overflow: hidden;
    width: 160px;
    float: right;
    overflow: hidden;
    background: url("../images/smart_arrows.jpg") no-repeat scroll 95%;
}

.styled-select select {
    background: transparent;
    width: 175px;
    padding: 5px;
    border: 0;
    border-radius: 0;
    line-height: 1;
    height: 34px;
    -webkit-appearance: none;
}

.product_header{
    margin-bottom: 20px;
    overflow: hidden;
}
.wrr_items_list_resp .items {
    margin-bottom: 30px;
    padding: 0 15px;
}
.col-25 {
    /*width: 25%;*/
}
.items_list_resp .items .wrr-item {
    padding: 0 10px;
}
.wrr_items_list_resp .wrr-item-main {
    border: 1px solid #ccc;
}
.thumb-hover {
    background: #000 none repeat scroll 0 0;
    position: relative;
}
.wrr_items_list_resp .wrr-item-main .thumb a {
    display: block;
}
.thumb-hover .circle-play, .thumb-hover img {
    transition: all 0.3s ease-in-out 0s;
}

.thumb-hover {
    background: #000 none repeat scroll 0 0;
    position: relative;
}
.wrr_items_list_resp .wrr-item-main .thumb a {
    display: block;
}
.thumb-hover .circle-play, .thumb-hover img {
    transition: all 0.3s ease-in-out 0s;
}

.wrr_items_list_resp {
    margin: 0 -15px;
}






.clear{
    clear: both;
}
.item_main {
    color: #000;
    font-weight: bold;
    margin: 0 !important;
}
.wrr-item-content {
    overflow: hidden;
    padding: 10px;
    height: 120px;
}
footer {
    background-color: #2c3e50;
    height: 280px;
}
.social {
    padding: 20px 0;
    text-align: center;
}
.social > a {
    margin: 0 10px;
}
.about {
    text-align: center;
    color: #fff;
    margin: 10px 0 30px;
}
.about > p {
    color: #fff;
}
.about > a {
    color: #fff;
    margin: 0 5px;
}
footer ul {
    text-align: center;
}
footer li {
    margin-bottom: 5px;
}
.pr_mobile_os {
    border-top: 1px solid #dddddd;
    height: 60px;
    line-height: 55px;
    overflow: hidden;
    text-align: center;
}
.pr_mobile_os > img {
    margin: 0 3px;
}
.product_detail {
    border-bottom: 1px solid #dddddd;
    float: left;
    padding-bottom: 10px;
    width: 570px;
    height: 300px;
}
.product_slide {
    float: left;
    margin-right: 30px;
}

.product_view {
    margin-bottom: 15px;
    overflow: hidden;
}
.product_detail > h2 {
    margin-bottom: 7px;
    margin-top: -10px;
}
.product_detail > p {
    color: #000;
    margin-bottom: 5px;
    text-align: justify;
}
.pr_mobile_view {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    float: left;
    margin-top: 2px;
    padding: 5px 0;
    width: 570px;
}
.pr_mobile_view > img {
    margin-right: 15px;
}
.pr_mobile_view > span a {
    color: #008bef;
    font-weight: lighter;
}
.pr_same_title {
    border-bottom: 1px solid #ddd;
    height: 38px;
    line-height: 37px;
    margin-bottom: 20px;
}
.pr_same_title > span {
    border-bottom: 1px solid #80c5f7;
    color: #737373;
    float: left;
    font-size: 18px;
    text-transform: uppercase;
}
.icon_pre_active {
    background-image: url("/web/images/pre.png");
    display: block;
    height: 16px;
    width: 10px;
}
.pro_same_load{
    float: right;
    overflow: hidden;
}
.pro_same_load > a {
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    overflow: hidden;
    padding: 6px 17px 8px;
    position: relative;
}
.pro_same_load > a.active {
    background-color: #008bef;
}
.pro_same_load > a i {
    display: block;
    height: 16px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 10px;
    cursor: pointer;
}
.icon_pre {
    background-image: url("/web/images/pre.png");
}
.icon_pre_active {
    background-image: url("/web/images/pre_active.png");
}
.icon_next {
    background-image: url("/web/images/next.png");
}
.icon_next_active{
    background-image: url("/web/images/next_active.png");
}
.contact {
    float: left;
    margin-right: 54px;
    width: 640px;
}
.googlee_maps {
    float: left;
}
.contact > h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #000;
}
.contact > p {
    color: #000;
    margin-bottom: 5px;
}
.contact_title {
    font-weight: bold;
}
input.w305{
    float: left;
    width: 305px;
}
.contact_sm{
    margin-bottom: 30px;
}
.contact input {
    border: 1px solid #ddd;
    height: 43px;
}
.contact input[type="submit"] {
    background-color: #fff;
    border-radius: 4px;
    color: #5d5d5d;
    text-transform: uppercase;
    font-size: 15px;
}
form.contact_sm button {
    background-color: #008bef;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
.no_padding {
    padding: 0;
}
#header_phone .container {
    height: 30px !important;
    margin-top: 10px;
}
#header_phone .icon_menu_lang {
    background: rgba(0, 0, 0, 0) url("/web/images/en_us.png") no-repeat scroll center center;
    height: 35px;
    margin-right: 5px;
    margin-top: 5px;
    width: 35px;
    float: right;
}
#header_phone .icon_menu_phone {
    background: rgba(0, 0, 0, 0) url("/web/images/icon_menu_phone.png") no-repeat scroll center center;
    height: 30px;
    margin-top: 5px;
    width: 30px;

}
#header_phone .logo_waka_phone {
    float: left;
}
#header_phone .area_search_menu {
    height: 30px;
    position: relative;
}
#header_phone .icon_h_b img {
    height: 34px;
    margin-top: 1px;
    width: 34px;
}
.site-title {
    margin-bottom: 0;
}
.ico_search {
    background: rgba(0, 0, 0, 0) url("/web/images/search_icon.png") no-repeat scroll center center;
    display: block;
    height: 47px;
    width: 47px;
    margin-right: 20px;
}
.ico_lang_web {
    background: rgba(0, 0, 0, 0) url("/web/images/web_en_us.png") no-repeat scroll center center;
    display: block;
    float: left;
    height: 16px;
    margin-top: 15px;
    width: 22px;
}
#btn-change-lang-icon > span {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    color: #777;
}
.service-block-item-excerpt {
    color: #8c8b8b;
    margin-bottom: 20px;
}
.video_playlist_mask{
    overflow: hidden;
    position: relative;
    width: 1170px;
}
#video_playlist_contain {
    position: absolute;
    width: 2800px;
}
#video_playlist_mask {
    overflow: hidden;
    position: relative;
    width: 1170px;
}
form.contact_sm a {
    background-color: #008bef;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    padding: 11px 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.about_content {
    color: #333333;
    margin-bottom: 10px;
    margin-top: 20px;
}
.errorSummary {
    left: 38px;
    margin-bottom: 15px;
}
.errorSummary ul li.contact_error {
    color: #F00;
    background: url(/img/dg.png) no-repeat left center;
    padding-left: 20px;
    font-size: 13px;
}
.errorSummary ul li.contact_done {
    color: #F00;
    background: url(/img/done.png) no-repeat left center;
    padding-left: 20px;
    font-size: 13px;
}
.border_error{
    border: 1px solid red !important;
}
.pd-input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    font-size: 15px !important;
    height: 40px;
    padding: 0 38px 0 0;
    position: relative;
}
.input-search {
    -moz-appearance: none;
    border: 0 none !important;
    box-sizing: border-box;
    height: 35px;
    outline-width: 0;
    padding-left: 15px !important;
    width: 100% !important;
}
.btn-search {
    background-image: url("/web/images/search.png");
    background-color: #008BEF;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none !important;
    border-radius: 0 2px 2px 0 !important;
    color: #fff !important;
    font-size: 15px !important;
    height: 38px;
    margin: 0;
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}
.hidden{
    display: none;
}
.search_area{
    margin-top: 30px;
}
.pager li > a {
    border-radius: unset !important;
}
.pager li > a.active {
    background-color: #008bef;
    color: #fff;
}

.pager li > a.next {
    background-image: url("/web/images/page_next.png");
    color: #fff;
}
.product_detail > h2 {
    color: #000;
}